---
// Layout
import Layout from "../../layouts/Layout.astro";
// Components
import ShowCasePoet from "../../components/ShowCasePoet.vue";
import ShowCasePoems from "../../components/ShowCasePoems.vue";
import ShowCasePoetry from "../../components/ShowCasePoetry.vue";
import SelectedPrints from "../../components/SelectedPrints.vue";
// Stores
import { fetchPoet, getPoet } from "../../stores/poets";
// Types
import type { Poetry } from "../../stores/__types__";
// utils
import { shuffle } from "../../utils/shuffle";

export const prerender = false;
const { id } = Astro.params;

if (!id) Astro.redirect("/");
else await fetchPoet(id);

// Combining Poet's poetry and shuffling it.
const poetry = [
  ...getPoet.value.chosenVerses,
  ...getPoet.value.proses,
] as Poetry[];
shuffle(poetry);
---

<Layout title="Adeeb :: Poet">
  <main>
    <div class="container">
      <ShowCasePoet
        details={{
          name: getPoet.value.name,
          time_period: getPoet.value.time_period,
          bio: getPoet.value.bio,
        }}
      />

      <ShowCasePoems poems={getPoet.value.poems}>
        <h3 class="poems-title">قصائده</h3>
      </ShowCasePoems>
    </div>

    <ShowCasePoetry poetry={poetry} routeName="poet" client:idle />

    <SelectedPrints client:only="vue" />
  </main>
</Layout>

<style lang="scss" scoped>
  @import "../../assets/mixins.scss";

  .container {
    display: grid;
    grid-template-columns: 70% 30%;
    border-radius: 1rem;
    padding: 0.7rem;
    margin: 0.7rem 0.3rem;
    overflow: visible;

    @include mQ($breakpoint-lg) {
      padding: 0.6rem;
      margin: 0.6rem 0.3rem;
    }

    @include mQ($breakpoint-md) {
      padding: 0.5rem;
      margin: 0.5rem 0.2rem;
    }

    @include mQ($breakpoint-sm) {
      padding: 0.3rem;
      margin: 0.3rem 0.1erm;
    }
  }

  .poems-title {
    background-color: var(--text1);
    color: var(--surface3);
    text-align: center;
    padding: 0.3rem;
    border-radius: 1.5rem;
    width: 50%;
    margin: 1rem auto;

    @include mQ($breakpoint-lg) {
      padding: 0.3rem;
      margin: 0.7rem auto;
      font-size: 1rem;
    }

    @include mQ($breakpoint-md) {
      padding: 0.2rem;
      margin: 0.5rem auto;
      font-size: 1rem;
    }

    @include mQ($breakpoint-sm) {
      padding: 0.1rem;
      margin: 0.3rem auto;
      font-size: 1rem;
    }
  }
</style>
