---
import { ViewTransitions, slide } from 'astro:transitions';
import { allTasks } from "nanostores";
// Layout
import Layout from "../../layouts/Layout.astro";
// Components
import ShowCasePoem from '../../components/ShowCasePoem.vue'
import ShowCasePoems from '../../components/ShowCasePoems.vue'
import ShowCasePoet from '../../components/ShowCasePoet.vue'
import SelectedPrints from "../../components/SelectedPrints.vue";
// Stores
import {$poem, $poems, fetchPoem} from '../../stores/poems';

export const prerender = false;
const {  id } = Astro.params;

if(!id) Astro.redirect('/');
else {
    await fetchPoem(id)
    await allTasks()
}
---

<Layout title="Adeeb :: Poem">
    <ViewTransitions slot="transition"/>

    <main transition:animate={slide({duration: '0.1s'})}>
    <!-- <main > -->
        <div class="container">
            <section id="related-data">
                <a href=`/poet/${$poem.get().poet.id}` class="link">
                    <ShowCasePoet details={$poem.get().poet} client:idle/>
                </a>

                <ShowCasePoems poems={$poems.get()} >
                    <h2>قصائد اخري</h2>
                </ShowCasePoems>                
            </section>
            <ShowCasePoem verses={$poem.get().verses} client:idle/>

        </div>
        <SelectedPrints client:only="vue"/>
    </main>
</Layout>

<style lang="scss">
@import '../../assets/mixins.scss';

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1rem;
}

#related-data {
    .link {
    text-decoration: none;
    }

    h2 {
    color: var(--text1);
    text-align: center;

    @include mQ($breakpoint-lg) {
        font-size: 1.1rem;
    }

    @include mQ($breakpoint-md) {
        font-size: 1rem;
    }

    @include mQ($breakpoint-sm) {
        font-size: 1rem;
    }
    }
}
</style>
    ../../stores/poems