---
// Layout
import Layout from "../layouts/Layout.astro";
---

<Layout title="أديب :: قصتنا" description="Showcase Adeeb's goals and values.">
  <main>
    <section id="about">
      <h1>About</h1>
      <p>It's concerned with Arabic literature. It assumes a business model that enables you to order a specific piece of literature to be printed with special colors and fonts. Then it'll be delivered to the customer, with the ability for the customer to follow up the process. And for special customers, it provides them with the ability to make bulk orders fast and easy. And if they’re willing to sign up, they can review all of their past orders.      </p>
    </section>
  </main>
</Layout>

<style>
  #about {
    text-align: center;
    margin: 1rem;
    color: var(--text1);
    font-size: 1.5rem;
  }
</style>
