---
// Layout
import Layout from "../layouts/Layout.astro";
// UI
import { ui } from '../i18n/ui'
---

<Layout title={ui.ar.about.layoutTitle} description={ui.ar.about.layoutDesc}>
  <main>
    <section id="about">
      <h1>{ui.ar.about.h1}</h1>
      <p>{ui.ar.about.p}</p>
    </section>
  </main>
</Layout>

<style>
  #about {
    text-align: center;
    margin: 1rem;
    color: var(--text1);
    font-size: 1.5rem;
  }
</style>
