---

---

<footer>
    <p>
      Copyright &copy; 2022 |
      <a
        href="https://m-shrief.tech"
        title="Portfolio"
        target="_blank"
        id="profile">M. Shrief</a
      >
    </p>
</footer>


<style lang="scss">
    @import "../assets/mixins.scss";
  
    footer {
      text-align: center;
      margin-top: 1.6rem;
      font-size: 1.2rem;
      font-weight: 700;
  
      #profile {
        color: var(--text1);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
  
      @include mQ($breakpoint-sm) {
        margin-top: 1rem;
        font-size: 1rem;
      }
    }
</style>
